@charset "utf-8";
header {
    color: #343F56;
	font-weight: bolder;;
    font-size: 48px;
    text-shadow: 0px 0px #FFC2AD;
	text-align: center;
	
}
footer {
    background-color: #F54748;
	height: 100px;
	width: 100px;
	padding: 20px;
	text-align: center;
}
footer h5 {
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
}
main {
    background-color: #343F56;
    padding: 40px;
    color: #FFFFFF;
}
header, nav, main, footer {
    width: 80%;
}
body main section {
    background-color: #FB9300;
    margin: 20px;
    border: thick double #FFFFFF;
    height: auto;
    padding: 20px;
    width: auto;
}
nav {
    height: auto;
    background-color: #F54748;
	align-content: center;
	text-align: center;
	
	
}
body nav ul {
    list-style-type: none;

}
nav ul li {
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    display: inline-block;
    color: #FAF3F3;
    font-weight: bolder;
	text-align: center;
}
* {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
	text-decoration: none;
}
a:link{
	color: #FB5319;
	font-weight: bolder;
}
a:visited{
	color: #FFFFFF;
	font-weight: bolder;
}
a:hover {
    color: #F6DC33;
    font-weight: bolder;
    font-size: large;
}
main section h2 {
    margin: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
img{
    width: 30%;
    margin-top: 30px;
    margin-right: 30px;
    margiºn-bottom: 30px;
    margin-left: 30px;
}#picture1 {
    float: left;
	margin: 5px;
}
main section p {
    margin: 20px;
}
.margin_1 {
    margin: 10px;
}
.opacidad {
    opacity: 0.5;
}
.opacidad2 {
    opacity: 0.25;
}
.grises {
    filter: grayscale(100%);
}
.desenfoque {
    filter: blur(2px);
}
.brillo {
    filter: brightness(80%);
}
.contraste {
    filter: contrast(80%);
}
.saturacion {
    filter: sature(60%);
}
.sepia {
    filter: sepia(100%);
}
.invertir {
    filter: invert(100%);
}
.rotaciontono {
    filter: huer-rotate(90deg);
}
input[type=text] {
	width: 80%;
	padding: 10px;
	margin: 10px;
	background-color: bisque;
	color: #FB9300;
	border: none;
}
input[type=text]:focus{
	background-color: aliceblue;
	color:#343F56;
	border: 3px solid #F6DC33;
}
input[type=button], input[type=submit]{
	background-color: bisque;
	color: #343F56;
	padding: 10px;
	margin: 10px 0;
	border-radius:5px;
	cursor: pointer;
}
li{
	color:#FFFFFF;
	text-decoration: underline;
}

/*#video_1 {
   width: 50%;
   margin: 100px;
   height: auto;*
}


